<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body style="background-color: rgb(219, 240, 231)" background="/static/b.jpg">
        <center>
        <p style="right: 0pt;font: outline;"><font style="color:rgb(247, 3, 3)">{
   {id}}</font> 已登录</p>
        <form method="POST" action='/create/?u={
   {id}}' style="color: rgb(255, 255, 255)">
            <input type="text" name="new_room" ><br>
            <input type="submit" value='立即创建'>
    </form>
    </center>

</body>